<section class="slice slice-lg sct-color-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header text-center">
                        <h2 class="form-header-title">Sign up</h2>
                    </div>
                    <div class="form-body">
<table>

                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
    <div class="form-group has-icon">
        <tr><h5>Name</h5></tr>
        <tr><%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName" %></tr>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
    </div>
    <div class="form-group has-icon">
        <h5>Email</h5>
        <%= f.email_field :email, class:"form-control", id:"inputEmail" %>
        <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
    </div>
    <div class="form-group has-icon">
        <h5>Password (6 characters minimum)</h5>
        <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword" %>
        <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
    </div>
    <div class="form-group has-icon">
        <h5>Password confirmation</h5>
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword" %>
         <span class="fa fa-check-circle-o form-control-icon" aria-hidden="true"></span>
    </div>
        <div class="actions">
    <input type="submit" name="commit" value="Sign up" class="btn btn-success" data-disable-with="Sign up" />
  </div>
    <% end %>
    <li><%= link_to "Log in", new_user_session_path %></li>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
